openapi: 3.1.0
info:
  title: Bike Brand Business Integration API
  version: 1.0.0
  summary: Reusable contracts for Dify business tools used by bicycle and e-bike brands.
  description: |
    Contract for the P0 business integration layer described in Appendix C of
    dify_bike_brand_transformation.md v1.0.

    The API is designed for Dify HTTP Request nodes, Dify tools, custom BFFs, and
    external business services. Dynamic business state such as price, inventory,
    order status, CRM profile, warranty decisions, appointment availability, and
    service-center capacity must be queried through this API and must not be
    imported into a static Dify knowledge base.
  contact:
    name: Bike Brand Solution Kit
  license:
    name: Internal planning contract
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.example-bike.com/integration/v1
    description: Production integration gateway
  - url: https://sandbox-api.example-bike.com/integration/v1
    description: Sandbox integration gateway
security:
  - bearerAuth:
      - integration.read
    gatewayApiKey: []
tags:
  - name: Products
    description: Product, model, and SKU data from PIM/PLM.
  - name: Compatibility
    description: Structured compatibility and fitment checks.
  - name: Orders
    description: Order and fulfillment status from OMS.
  - name: Locations
    description: Dealer and service-center discovery.
  - name: Serials
    description: Serial number, registration, and recall status.
  - name: Warranty
    description: Warranty rule checks and precheck workflows.
  - name: CRM
    description: CRM customer and lead workflows.
  - name: Tickets
    description: Support ticket creation.
  - name: Appointments
    description: Test-ride and service appointments.
  - name: Feedback
    description: Human escalation and feedback handoff.

paths:
  /products:
    get:
      tags:
        - Products
      operationId: listProducts
      summary: List market-scoped products.
      description: Returns a filtered product list. Optional price or inventory summaries are live API data and must not be cached into Dify knowledge bases.
      x-dify-tool-name: product_catalog_search
      x-data-classification: business-dynamic
      x-kb-cache-policy: never-cache-dynamic-fields
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
        - name: q
          in: query
          description: Search text, for example model name, use case, or feature.
          schema:
            type: string
            minLength: 1
            maxLength: 120
        - name: category
          in: query
          schema:
            $ref: "#/components/schemas/ProductCategory"
        - name: bike_type
          in: query
          schema:
            $ref: "#/components/schemas/BikeType"
        - name: model_year
          in: query
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
        - name: audience
          in: query
          schema:
            $ref: "#/components/schemas/Audience"
        - name: include_live_offer
          in: query
          description: Include live price and availability summaries. These fields are not knowledge-base material.
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/CursorQuery"
      responses:
        "200":
          description: Product list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /products/{sku}:
    get:
      tags:
        - Products
      operationId: getProductBySku
      summary: Get one market-scoped product by SKU.
      description: Returns product detail for a SKU that is visible to the caller's tenant, market, and actor role.
      x-dify-tool-name: product_catalog_detail
      x-data-classification: business-dynamic
      x-kb-cache-policy: never-cache-dynamic-fields
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
        - $ref: "#/components/parameters/SkuPath"
        - name: include_live_offer
          in: query
          description: Include live price and availability. These fields are not knowledge-base material.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Product detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /compatibility/check:
    get:
      tags:
        - Compatibility
      operationId: checkCompatibility
      summary: Check structured compatibility between products, parts, and vehicles.
      description: Performs a rule-backed compatibility check. Dify may explain the result but must not override it.
      x-dify-tool-name: compatibility_check
      x-data-classification: rule-decision
      x-kb-cache-policy: never-cache-result
      x-human-escalation-required-when:
        - result=unknown
        - confidence<0.75
        - safety_related=true
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - name: primary_sku
          in: query
          required: true
          description: Bike, base product, or vehicle SKU.
          schema:
            $ref: "#/components/schemas/Sku"
        - name: accessory_sku
          in: query
          required: true
          description: Accessory or replacement part SKU.
          schema:
            $ref: "#/components/schemas/Sku"
        - name: model_year
          in: query
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
        - name: serial_no
          in: query
          description: Optional serial number when fitment depends on production batch. The value must be redacted in logs.
          schema:
            $ref: "#/components/schemas/SerialNumber"
        - name: use_case
          in: query
          schema:
            type: string
            maxLength: 120
      responses:
        "200":
          description: Compatibility check result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompatibilityResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /orders/{order_no}:
    get:
      tags:
        - Orders
      operationId: getOrderByNumber
      summary: Get order status.
      description: Returns minimal order status visible to the authenticated customer, dealer, or support actor.
      x-dify-tool-name: order_status_lookup
      x-data-classification: pii-minimized-dynamic
      x-kb-cache-policy: never-cache
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
        - $ref: "#/components/parameters/OrderNoPath"
        - name: verification_token
          in: query
          description: Optional short-lived token from signed-in customer context or email magic link.
          schema:
            type: string
            minLength: 12
            maxLength: 256
      security:
        - bearerAuth:
            - orders.read
          gatewayApiKey: []
      responses:
        "200":
          description: Minimal order status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /dealers/nearby:
    get:
      tags:
        - Locations
      operationId: findNearbyDealers
      summary: Find nearby authorized dealers.
      description: Returns authorized dealers for the tenant and market. Caller location is used transiently and must not be persisted unless explicit consent exists outside this API.
      x-dify-tool-name: dealer_locator
      x-data-classification: location-transient
      x-kb-cache-policy: cache-dealer-master-data-only
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - name: latitude
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: longitude
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: postal_code
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 24
        - name: radius_km
          in: query
          schema:
            type: number
            minimum: 1
            maximum: 250
            default: 50
        - name: capabilities
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/DealerCapability"
        - $ref: "#/components/parameters/LimitQuery"
      responses:
        "200":
          description: Nearby dealers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealerListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /serials/{serial_no}:
    get:
      tags:
        - Serials
      operationId: getSerialStatus
      summary: Check serial number status.
      description: Returns registration, recall, and model information for a serial number without exposing owner PII.
      x-dify-tool-name: serial_status_lookup
      x-data-classification: sensitive-identifier
      x-kb-cache-policy: never-cache
      x-human-escalation-required-when:
        - recall_status=affected
        - safety_flags not empty
        - confidence<0.8
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/SerialNoPath"
      security:
        - bearerAuth:
            - serials.read
          gatewayApiKey: []
      responses:
        "200":
          description: Serial status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SerialResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /warranty/rules/check:
    get:
      tags:
        - Warranty
      operationId: checkWarrantyRules
      summary: Run warranty rule precheck.
      description: Performs a rule-backed warranty eligibility precheck. It is not a final compensation decision.
      x-dify-tool-name: warranty_rules_check
      x-data-classification: rule-decision
      x-kb-cache-policy: never-cache-result
      x-human-escalation-required-when:
        - result=needs_review
        - confidence<0.8
        - safety_related=true
        - missing_evidence not empty
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - name: serial_no
          in: query
          schema:
            $ref: "#/components/schemas/SerialNumber"
        - name: sku
          in: query
          schema:
            $ref: "#/components/schemas/Sku"
        - name: part_category
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 80
        - name: purchase_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: issue_category
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/IssueCategory"
        - name: has_proof_of_purchase
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Warranty rule result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WarrantyRulesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /service-centers/nearby:
    get:
      tags:
        - Locations
      operationId: findNearbyServiceCenters
      summary: Find nearby authorized service centers.
      description: Returns authorized service centers for maintenance, repair, and warranty service.
      x-dify-tool-name: service_center_locator
      x-data-classification: location-transient
      x-kb-cache-policy: cache-service-center-master-data-only
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - name: latitude
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: longitude
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: postal_code
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 24
        - name: radius_km
          in: query
          schema:
            type: number
            minimum: 1
            maximum: 250
            default: 50
        - name: service_types
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ServiceType"
        - $ref: "#/components/parameters/LimitQuery"
      responses:
        "200":
          description: Nearby service centers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCenterListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /crm/customers/{id}:
    get:
      tags:
        - CRM
      operationId: getCrmCustomer
      summary: Get a minimal CRM customer profile.
      description: Returns only fields needed for support personalization and routing. Full PII is not returned to Dify.
      x-dify-tool-name: crm_customer_lookup
      x-data-classification: pii-minimized-dynamic
      x-kb-cache-policy: never-cache
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/CrmCustomerIdPath"
      security:
        - bearerAuth:
            - crm.read
          gatewayApiKey: []
      responses:
        "200":
          description: Minimal CRM customer profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrmCustomerResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /crm/leads:
    post:
      tags:
        - CRM
      operationId: createCrmLead
      summary: Create a CRM lead.
      description: Creates a sales or test-ride lead after consent. The response returns identifiers and routing status, not raw submitted PII.
      x-dify-tool-name: crm_lead_create
      x-data-classification: pii-write
      x-kb-cache-policy: never-cache
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
      security:
        - bearerAuth:
            - crm.write
          gatewayApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLeadRequest"
      responses:
        "201":
          description: Lead created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateLeadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /tickets:
    post:
      tags:
        - Tickets
      operationId: createTicket
      summary: Create a support ticket.
      description: Creates a support, warranty, complaint, or safety ticket with redacted conversation context and attachment references.
      x-dify-tool-name: support_ticket_create
      x-data-classification: pii-write
      x-kb-cache-policy: never-cache
      x-human-escalation-required-when:
        - severity in [high, critical]
        - safety_related=true
        - legal_or_complaint=true
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
      security:
        - bearerAuth:
            - tickets.write
          gatewayApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
      responses:
        "201":
          description: Ticket created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTicketResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /warranty/precheck:
    post:
      tags:
        - Warranty
      operationId: createWarrantyPrecheck
      summary: Create a warranty precheck case.
      description: Creates a structured warranty precheck. The output is a precheck recommendation and never a final payout or replacement decision.
      x-dify-tool-name: warranty_precheck_create
      x-data-classification: pii-write-rule-decision
      x-kb-cache-policy: never-cache
      x-human-escalation-required-when:
        - precheck_status=needs_review
        - confidence<0.85
        - safety_related=true
        - missing_evidence not empty
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
      security:
        - bearerAuth:
            - warranty.write
          gatewayApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWarrantyPrecheckRequest"
      responses:
        "201":
          description: Warranty precheck created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateWarrantyPrecheckResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /appointments/test-ride:
    post:
      tags:
        - Appointments
      operationId: createTestRideAppointment
      summary: Create a test-ride appointment request.
      description: Requests a test-ride appointment. Final slot confirmation may require dealer approval depending on market rules.
      x-dify-tool-name: test_ride_appointment_create
      x-data-classification: pii-write-dynamic
      x-kb-cache-policy: never-cache
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
      security:
        - bearerAuth:
            - appointments.write
          gatewayApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTestRideAppointmentRequest"
      responses:
        "201":
          description: Test-ride appointment request created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppointmentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /appointments/service:
    post:
      tags:
        - Appointments
      operationId: createServiceAppointment
      summary: Create a service appointment request.
      description: Requests service at an authorized center. Safety-related issues must be escalated and should not be handled as normal self-service scheduling only.
      x-dify-tool-name: service_appointment_create
      x-data-classification: pii-write-dynamic
      x-kb-cache-policy: never-cache
      x-human-escalation-required-when:
        - safety_related=true
        - severity in [high, critical]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
      security:
        - bearerAuth:
            - appointments.write
          gatewayApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceAppointmentRequest"
      responses:
        "201":
          description: Service appointment request created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppointmentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /feedback/escalation:
    post:
      tags:
        - Feedback
      operationId: createFeedbackEscalation
      summary: Escalate low-confidence, safety, legal, or complaint cases to a human.
      description: Creates a human escalation record with redacted conversation context and structured reason codes.
      x-dify-tool-name: feedback_escalation_create
      x-data-classification: pii-minimized-write
      x-kb-cache-policy: never-cache
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
        - $ref: "#/components/parameters/MarketHeader"
        - $ref: "#/components/parameters/ActorTypeHeader"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/AcceptLanguageHeader"
        - $ref: "#/components/parameters/ChannelHeader"
      security:
        - bearerAuth:
            - feedback.write
          gatewayApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEscalationRequest"
      responses:
        "201":
          description: Escalation created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEscalationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: JWT or opaque token issued by the brand BFF or integration gateway. Tokens must carry tenant, market, actor type, subject, and scopes.
      flows:
        clientCredentials:
          tokenUrl: https://auth.example-bike.com/oauth/token
          scopes:
            integration.read: Read non-PII business data.
            integration.write: Write integration records.
            orders.read: Read order status for authorized subject.
            serials.read: Read serial status.
            crm.read: Read minimal CRM profile.
            crm.write: Create CRM lead.
            tickets.write: Create support ticket.
            warranty.write: Create warranty precheck.
            appointments.write: Create appointment request.
            feedback.write: Create escalation.
    gatewayApiKey:
      type: apiKey
      in: header
      name: X-Gateway-Api-Key
      description: Server-side gateway credential. Must not be exposed in browser or Dify public WebApp clients.

  parameters:
    TenantIdHeader:
      name: X-Tenant-Id
      in: header
      required: true
      description: Brand tenant identifier. Must match the token claim and be enforced server side.
      schema:
        type: string
        pattern: "^[a-z0-9][a-z0-9-]{1,62}$"
    MarketHeader:
      name: X-Market
      in: header
      required: true
      description: Market or region boundary, for example US, CA, EU-DE, CN. Must match token-allowed markets.
      schema:
        type: string
        pattern: "^[A-Z]{2}(-[A-Z0-9]{2,10})?$"
    ActorTypeHeader:
      name: X-Actor-Type
      in: header
      required: true
      description: Caller role used for audience isolation.
      schema:
        $ref: "#/components/schemas/ActorType"
    RequestIdHeader:
      name: X-Request-Id
      in: header
      required: true
      description: End-to-end correlation ID generated by BFF, Dify, or integration gateway.
      schema:
        type: string
        minLength: 8
        maxLength: 128
    AcceptLanguageHeader:
      name: Accept-Language
      in: header
      required: false
      schema:
        type: string
        minLength: 2
        maxLength: 64
    ChannelHeader:
      name: X-Channel
      in: header
      required: false
      description: Source channel for routing, analytics, and audit.
      schema:
        $ref: "#/components/schemas/Channel"
    LimitQuery:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 10
    CursorQuery:
      name: cursor
      in: query
      schema:
        type: string
        maxLength: 256
    SkuPath:
      name: sku
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/Sku"
    OrderNoPath:
      name: order_no
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/OrderNumber"
    SerialNoPath:
      name: serial_no
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/SerialNumber"
    CrmCustomerIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 80
        pattern: "^[A-Za-z0-9._:-]+$"

  responses:
    Unauthorized:
      description: Missing, expired, invalid, or insufficiently bound authentication credentials.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated actor is not allowed to access the tenant, market, role audience, or resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource was not found or is intentionally hidden from this actor.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Duplicate request, state conflict, appointment slot race, or idempotency conflict.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationError:
      description: Request failed syntactic or business validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Rate limit or abuse protection triggered.
      headers:
        Retry-After:
          description: Seconds until retry is allowed.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServerError:
      description: Upstream timeout, upstream dependency error, or internal server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    ActorType:
      type: string
      enum:
        - consumer
        - dealer
        - support_agent
        - internal
        - system
    Audience:
      type: string
      enum:
        - consumer
        - dealer
        - internal
    Channel:
      type: string
      enum:
        - web
        - app
        - dify_chatflow
        - dealer_portal
        - support_console
        - email
        - webhook
    ProductCategory:
      type: string
      enum:
        - bike
        - e-bike
        - accessory
        - component
        - replacement_part
        - apparel
    BikeType:
      type: string
      enum:
        - road
        - gravel
        - mountain
        - city
        - cargo
        - folding
        - kids
        - e-bike
    IssueCategory:
      type: string
      enum:
        - battery
        - motor
        - display
        - controller
        - brake
        - drivetrain
        - frame
        - wheel_tire
        - accessory
        - shipping_damage
        - other
    Severity:
      type: string
      enum:
        - low
        - medium
        - high
        - critical
    DealerCapability:
      type: string
      enum:
        - sales
        - test_ride
        - pickup
        - service
        - warranty
        - e_bike_certified
    ServiceType:
      type: string
      enum:
        - diagnosis
        - maintenance
        - warranty
        - battery
        - motor
        - brake
        - firmware
        - assembly
    Sku:
      type: string
      minLength: 2
      maxLength: 64
      pattern: "^[A-Za-z0-9._-]+$"
    OrderNumber:
      type: string
      minLength: 4
      maxLength: 64
      pattern: "^[A-Za-z0-9._-]+$"
    SerialNumber:
      type: string
      minLength: 4
      maxLength: 80
      pattern: "^[A-Za-z0-9._-]+$"
    IdempotencyKey:
      type: string
      minLength: 8
      maxLength: 128
    Confidence:
      type: number
      minimum: 0
      maximum: 1
    Money:
      type: object
      additionalProperties: false
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          pattern: "^-?[0-9]+(\\.[0-9]{1,2})?$"
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
    ResponseMeta:
      type: object
      additionalProperties: false
      required:
        - request_id
        - tenant_id
        - market
        - data_classification
        - kb_cache_allowed
        - audit
      properties:
        request_id:
          type: string
        tenant_id:
          type: string
        market:
          type: string
        data_classification:
          type: string
        kb_cache_allowed:
          type: boolean
          const: false
          description: Dynamic API responses must not be imported into Dify static knowledge bases.
        generated_at:
          type: string
          format: date-time
        audit:
          $ref: "#/components/schemas/AuditContext"
    AuditContext:
      type: object
      additionalProperties: false
      required:
        - request_id
        - actor_type
        - actor_id_hash
        - channel
      properties:
        request_id:
          type: string
        actor_type:
          $ref: "#/components/schemas/ActorType"
        actor_id_hash:
          type: string
          description: Stable one-way hash. Raw user identifiers must not be logged by Dify workflows.
        channel:
          $ref: "#/components/schemas/Channel"
        dify_conversation_id:
          type: string
          maxLength: 128
        dify_message_id:
          type: string
          maxLength: 128
        source_system:
          type: string
          maxLength: 80
    EscalationHint:
      type: object
      additionalProperties: false
      required:
        - required
        - reasons
      properties:
        required:
          type: boolean
        reasons:
          type: array
          items:
            type: string
            enum:
              - low_confidence
              - safety_risk
              - legal_or_complaint
              - warranty_review
              - missing_evidence
              - policy_exception
              - dealer_required
              - recall_or_stop_ride
              - pii_permission_required
              - upstream_unavailable
        target_queue:
          type: string
          maxLength: 80
        message_to_user:
          type: string
          maxLength: 500
    Reference:
      type: object
      additionalProperties: false
      required:
        - source_type
        - source_id
        - title
      properties:
        source_type:
          type: string
          enum:
            - pim
            - plm
            - oms
            - crm
            - warranty_rules
            - compatibility_rules
            - dealer_system
            - ticket_system
            - appointment_system
            - policy_document
        source_id:
          type: string
          maxLength: 128
        title:
          type: string
          maxLength: 200
        version:
          type: string
          maxLength: 80
        effective_date:
          type: string
          format: date
    LiveOffer:
      type: object
      additionalProperties: false
      required:
        - cache_ttl_seconds
        - cache_allowed_in_kb
      properties:
        price:
          $ref: "#/components/schemas/Money"
        availability:
          type: string
          enum:
            - in_stock
            - low_stock
            - out_of_stock
            - preorder
            - dealer_only
            - unavailable
            - unknown
        cache_ttl_seconds:
          type: integer
          minimum: 0
          maximum: 900
        cache_allowed_in_kb:
          type: boolean
          const: false
    ProductSummary:
      type: object
      additionalProperties: false
      required:
        - sku
        - name
        - category
        - market
        - audience
      properties:
        sku:
          $ref: "#/components/schemas/Sku"
        name:
          type: string
          maxLength: 160
        category:
          $ref: "#/components/schemas/ProductCategory"
        bike_type:
          $ref: "#/components/schemas/BikeType"
        model_year:
          type: integer
        market:
          type: string
        audience:
          $ref: "#/components/schemas/Audience"
        short_description:
          type: string
          maxLength: 500
        live_offer:
          $ref: "#/components/schemas/LiveOffer"
    ProductDetail:
      allOf:
        - $ref: "#/components/schemas/ProductSummary"
        - type: object
          additionalProperties: false
          properties:
            specs:
              type: object
              additionalProperties:
                type:
                  - string
                  - number
                  - boolean
            compatible_accessory_skus:
              type: array
              items:
                $ref: "#/components/schemas/Sku"
            related_document_refs:
              type: array
              items:
                $ref: "#/components/schemas/Reference"
            safety_related:
              type: boolean
              default: false
    ProductListResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ProductSummary"
            next_cursor:
              type: string
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    ProductDetailResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          $ref: "#/components/schemas/ProductDetail"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    CompatibilityResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - result
            - confidence
            - escalation
            - references
          properties:
            result:
              type: string
              enum:
                - compatible
                - incompatible
                - conditionally_compatible
                - unknown
            confidence:
              $ref: "#/components/schemas/Confidence"
            reason_codes:
              type: array
              items:
                type: string
            explanation:
              type: string
              maxLength: 1000
            safety_related:
              type: boolean
            required_conditions:
              type: array
              items:
                type: string
            escalation:
              $ref: "#/components/schemas/EscalationHint"
            references:
              type: array
              items:
                $ref: "#/components/schemas/Reference"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    OrderResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - order_no
            - status
            - escalation
          properties:
            order_no:
              $ref: "#/components/schemas/OrderNumber"
            status:
              type: string
              enum:
                - received
                - processing
                - partially_shipped
                - shipped
                - delivered
                - cancelled
                - returned
                - exception
            placed_date:
              type: string
              format: date
            items:
              type: array
              items:
                type: object
                additionalProperties: false
                required:
                  - sku
                  - name
                  - quantity
                properties:
                  sku:
                    $ref: "#/components/schemas/Sku"
                  name:
                    type: string
                  quantity:
                    type: integer
                    minimum: 1
            tracking:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  carrier:
                    type: string
                  tracking_no_masked:
                    type: string
                  status:
                    type: string
                  eta_date:
                    type: string
                    format: date
            customer_masked:
              $ref: "#/components/schemas/MaskedContact"
            escalation:
              $ref: "#/components/schemas/EscalationHint"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    Dealer:
      type: object
      additionalProperties: false
      required:
        - dealer_id
        - name
        - capabilities
        - distance_km
      properties:
        dealer_id:
          type: string
        name:
          type: string
        distance_km:
          type: number
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/DealerCapability"
        address_summary:
          type: string
        phone_display:
          type: string
        booking_url:
          type: string
          format: uri
        market:
          type: string
    DealerListResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Dealer"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    SerialResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - serial_no_masked
            - status
            - escalation
          properties:
            serial_no_masked:
              type: string
            status:
              type: string
              enum:
                - valid
                - invalid
                - unregistered
                - registered
                - stolen_reported
                - recall_affected
                - unknown
            sku:
              $ref: "#/components/schemas/Sku"
            model_name:
              type: string
            model_year:
              type: integer
            registration_status:
              type: string
              enum:
                - registered
                - unregistered
                - unknown
            recall_status:
              type: string
              enum:
                - none
                - affected
                - unknown
            safety_flags:
              type: array
              items:
                type: string
            confidence:
              $ref: "#/components/schemas/Confidence"
            escalation:
              $ref: "#/components/schemas/EscalationHint"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    WarrantyRulesResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - result
            - confidence
            - escalation
          properties:
            result:
              type: string
              enum:
                - likely_eligible
                - likely_ineligible
                - needs_review
            confidence:
              $ref: "#/components/schemas/Confidence"
            rule_codes:
              type: array
              items:
                type: string
            missing_evidence:
              type: array
              items:
                type: string
            explanation:
              type: string
              maxLength: 1000
            escalation:
              $ref: "#/components/schemas/EscalationHint"
            references:
              type: array
              items:
                $ref: "#/components/schemas/Reference"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    ServiceCenter:
      type: object
      additionalProperties: false
      required:
        - service_center_id
        - name
        - service_types
        - distance_km
      properties:
        service_center_id:
          type: string
        name:
          type: string
        distance_km:
          type: number
        service_types:
          type: array
          items:
            $ref: "#/components/schemas/ServiceType"
        address_summary:
          type: string
        phone_display:
          type: string
        booking_url:
          type: string
          format: uri
        emergency_supported:
          type: boolean
        market:
          type: string
    ServiceCenterListResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ServiceCenter"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    MaskedContact:
      type: object
      additionalProperties: false
      properties:
        display_name:
          type: string
          maxLength: 120
        email_masked:
          type: string
          maxLength: 160
        phone_masked:
          type: string
          maxLength: 80
        postal_code:
          type: string
          maxLength: 24
    CrmCustomerResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - customer_id
            - contact_masked
            - consent_status
          properties:
            customer_id:
              type: string
            contact_masked:
              $ref: "#/components/schemas/MaskedContact"
            preferred_language:
              type: string
            consent_status:
              type: string
              enum:
                - valid
                - missing
                - revoked
                - unknown
            ownership_skus:
              type: array
              items:
                $ref: "#/components/schemas/Sku"
            open_ticket_count:
              type: integer
              minimum: 0
            loyalty_tier:
              type: string
              maxLength: 80
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    ContactInput:
      type: object
      additionalProperties: false
      required:
        - preferred_channel
      properties:
        name:
          type: string
          maxLength: 120
        email:
          type: string
          format: email
          maxLength: 160
        phone:
          type: string
          maxLength: 40
        postal_code:
          type: string
          maxLength: 24
        preferred_channel:
          type: string
          enum:
            - email
            - phone
            - sms
            - app
            - dealer
    Consent:
      type: object
      additionalProperties: false
      required:
        - privacy_notice_accepted
        - contact_allowed
        - consent_timestamp
      properties:
        privacy_notice_accepted:
          type: boolean
        contact_allowed:
          type: boolean
        marketing_allowed:
          type: boolean
          default: false
        consent_timestamp:
          type: string
          format: date-time
        consent_source:
          type: string
          maxLength: 120
    DifyContext:
      type: object
      additionalProperties: false
      properties:
        conversation_id:
          type: string
          maxLength: 128
        message_id:
          type: string
          maxLength: 128
        intent:
          type: string
          maxLength: 80
        confidence:
          $ref: "#/components/schemas/Confidence"
        redacted_transcript:
          type: string
          maxLength: 8000
    CreateLeadRequest:
      type: object
      additionalProperties: false
      required:
        - idempotency_key
        - contact
        - consent
        - interest
      properties:
        idempotency_key:
          $ref: "#/components/schemas/IdempotencyKey"
        contact:
          $ref: "#/components/schemas/ContactInput"
        consent:
          $ref: "#/components/schemas/Consent"
        interest:
          type: object
          additionalProperties: false
          required:
            - intent
          properties:
            intent:
              type: string
              enum:
                - sales_inquiry
                - model_recommendation
                - test_ride
                - dealer_contact
            sku:
              $ref: "#/components/schemas/Sku"
            notes:
              type: string
              maxLength: 1000
        dify_context:
          $ref: "#/components/schemas/DifyContext"
    CreateLeadResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - lead_id
            - status
            - escalation
          properties:
            lead_id:
              type: string
            status:
              type: string
              enum:
                - created
                - deduplicated
                - routed
                - pending_review
            assigned_dealer_id:
              type: string
            escalation:
              $ref: "#/components/schemas/EscalationHint"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    AttachmentRef:
      type: object
      additionalProperties: false
      required:
        - attachment_id
        - content_type
      properties:
        attachment_id:
          type: string
          maxLength: 128
        content_type:
          type: string
          maxLength: 120
        redaction_status:
          type: string
          enum:
            - redacted
            - no_pii_detected
            - pending
    CreateTicketRequest:
      type: object
      additionalProperties: false
      required:
        - idempotency_key
        - issue_category
        - severity
        - subject
        - description
      properties:
        idempotency_key:
          $ref: "#/components/schemas/IdempotencyKey"
        customer:
          $ref: "#/components/schemas/ContactInput"
        issue_category:
          $ref: "#/components/schemas/IssueCategory"
        severity:
          $ref: "#/components/schemas/Severity"
        subject:
          type: string
          maxLength: 160
        description:
          type: string
          maxLength: 4000
        sku:
          $ref: "#/components/schemas/Sku"
        serial_no:
          $ref: "#/components/schemas/SerialNumber"
        order_no:
          $ref: "#/components/schemas/OrderNumber"
        safety_related:
          type: boolean
          default: false
        legal_or_complaint:
          type: boolean
          default: false
        attachments:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/AttachmentRef"
        dify_context:
          $ref: "#/components/schemas/DifyContext"
    CreateTicketResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - ticket_id
            - status
            - escalation
          properties:
            ticket_id:
              type: string
            status:
              type: string
              enum:
                - created
                - deduplicated
                - routed
                - pending_human_review
            priority:
              type: string
              enum:
                - normal
                - high
                - urgent
            escalation:
              $ref: "#/components/schemas/EscalationHint"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    CreateWarrantyPrecheckRequest:
      type: object
      additionalProperties: false
      required:
        - idempotency_key
        - part_category
        - issue_category
        - issue_description
      properties:
        idempotency_key:
          $ref: "#/components/schemas/IdempotencyKey"
        customer:
          $ref: "#/components/schemas/ContactInput"
        serial_no:
          $ref: "#/components/schemas/SerialNumber"
        sku:
          $ref: "#/components/schemas/Sku"
        order_no:
          $ref: "#/components/schemas/OrderNumber"
        purchase_date:
          type: string
          format: date
        part_category:
          type: string
          maxLength: 80
        issue_category:
          $ref: "#/components/schemas/IssueCategory"
        issue_description:
          type: string
          maxLength: 4000
        proof_of_purchase_attachment_id:
          type: string
          maxLength: 128
        attachments:
          type: array
          maxItems: 12
          items:
            $ref: "#/components/schemas/AttachmentRef"
        safety_related:
          type: boolean
          default: false
        dify_context:
          $ref: "#/components/schemas/DifyContext"
    CreateWarrantyPrecheckResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - precheck_id
            - precheck_status
            - confidence
            - escalation
          properties:
            precheck_id:
              type: string
            precheck_status:
              type: string
              enum:
                - likely_eligible
                - likely_ineligible
                - needs_review
                - missing_information
            confidence:
              $ref: "#/components/schemas/Confidence"
            missing_evidence:
              type: array
              items:
                type: string
            next_steps:
              type: array
              items:
                type: string
            escalation:
              $ref: "#/components/schemas/EscalationHint"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    AppointmentWindow:
      type: object
      additionalProperties: false
      required:
        - start
        - end
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
    CreateTestRideAppointmentRequest:
      type: object
      additionalProperties: false
      required:
        - idempotency_key
        - contact
        - consent
        - preferred_window
      properties:
        idempotency_key:
          $ref: "#/components/schemas/IdempotencyKey"
        contact:
          $ref: "#/components/schemas/ContactInput"
        consent:
          $ref: "#/components/schemas/Consent"
        sku:
          $ref: "#/components/schemas/Sku"
        dealer_id:
          type: string
          maxLength: 80
        preferred_window:
          $ref: "#/components/schemas/AppointmentWindow"
        notes:
          type: string
          maxLength: 1000
        dify_context:
          $ref: "#/components/schemas/DifyContext"
    CreateServiceAppointmentRequest:
      type: object
      additionalProperties: false
      required:
        - idempotency_key
        - contact
        - issue_category
        - preferred_window
      properties:
        idempotency_key:
          $ref: "#/components/schemas/IdempotencyKey"
        contact:
          $ref: "#/components/schemas/ContactInput"
        service_center_id:
          type: string
          maxLength: 80
        serial_no:
          $ref: "#/components/schemas/SerialNumber"
        sku:
          $ref: "#/components/schemas/Sku"
        issue_category:
          $ref: "#/components/schemas/IssueCategory"
        issue_summary:
          type: string
          maxLength: 2000
        severity:
          $ref: "#/components/schemas/Severity"
        safety_related:
          type: boolean
          default: false
        preferred_window:
          $ref: "#/components/schemas/AppointmentWindow"
        dify_context:
          $ref: "#/components/schemas/DifyContext"
    CreateAppointmentResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - appointment_id
            - status
            - escalation
          properties:
            appointment_id:
              type: string
            status:
              type: string
              enum:
                - requested
                - confirmed
                - waitlisted
                - pending_dealer_confirmation
                - rejected
            location_id:
              type: string
            confirmed_window:
              $ref: "#/components/schemas/AppointmentWindow"
            escalation:
              $ref: "#/components/schemas/EscalationHint"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    CreateEscalationRequest:
      type: object
      additionalProperties: false
      required:
        - idempotency_key
        - reason
        - user_visible_summary
        - dify_context
      properties:
        idempotency_key:
          $ref: "#/components/schemas/IdempotencyKey"
        reason:
          type: string
          enum:
            - low_confidence
            - safety_risk
            - legal_or_complaint
            - warranty_review
            - missing_evidence
            - policy_exception
            - recall_or_stop_ride
            - upstream_unavailable
            - user_requested_human
        severity:
          $ref: "#/components/schemas/Severity"
        user_visible_summary:
          type: string
          maxLength: 1000
        redacted_internal_context:
          type: string
          maxLength: 8000
        related_resource:
          type: object
          additionalProperties: false
          properties:
            type:
              type: string
              enum:
                - order
                - serial
                - warranty_precheck
                - ticket
                - appointment
                - product
            id:
              type: string
              maxLength: 128
        customer_contact:
          $ref: "#/components/schemas/ContactInput"
        dify_context:
          $ref: "#/components/schemas/DifyContext"
    CreateEscalationResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - escalation_id
            - status
          properties:
            escalation_id:
              type: string
            status:
              type: string
              enum:
                - created
                - routed
                - duplicate
            target_queue:
              type: string
            sla:
              type: string
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
        - meta
      properties:
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
            - retryable
            - escalation_required
          properties:
            code:
              type: string
              enum:
                - UNAUTHORIZED
                - FORBIDDEN
                - NOT_FOUND
                - CONFLICT
                - VALIDATION_ERROR
                - RATE_LIMITED
                - UPSTREAM_TIMEOUT
                - UPSTREAM_UNAVAILABLE
                - INTERNAL_ERROR
            message:
              type: string
              maxLength: 500
            details:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  field:
                    type: string
                  issue:
                    type: string
            retryable:
              type: boolean
            retry_after_seconds:
              type: integer
              minimum: 1
            escalation_required:
              type: boolean
            escalation_reason:
              type: string
              enum:
                - authentication
                - authorization
                - missing_or_invalid_input
                - duplicate_or_state_conflict
                - low_confidence
                - safety_risk
                - upstream_unavailable
                - unknown
        meta:
          $ref: "#/components/schemas/ResponseMeta"
